<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Critical Path Performance Optimization</title>
  {{#if needToRenderFast}}
  <link rel="stylesheet" href="assets/css/bundle.css" id="cssbundle" media="none"/>
  {{> fastcss}}
  {{> fastjs}}
  {{else}}
  <link rel="stylesheet" href="assets/css/bundle.css" id="cssbundle" media="all"/>
  {{/if}}
</head>
<body>
</body>
</html>